{{ template "header" . }}
<h1>Task {{ .Task.ID }}: edit</h1>
<form name="edit" action="/task/edit/{{ .Task.ID }}" method="POST">
    <label>Title</label><input type="text" name="title" value="{{ .Task.Title }}" required>
    <br>
    <label>Description</label><input type="text" name="description" value="{{ .Task.Description }}">
    <br>
    <input type="radio" name="is_done" value="t" {{ if .Task.IsDone }}checked{{ end }}><label>完了</label>
    <input type="radio" name="is_done" value="f" {{ if not .Task.IsDone }}checked{{ end }}><label>未完了</label>
    <p>
        <button type="button" onclick=confirm_update({{ .Task.ID }})>登録</button>
    </p>
    <p>
        <a href="/task/{{ .Task.ID }}">戻る</a>
    </p>
</form>
{{ template "footer" }}
